body {
    background: white;
    font-family: 'Avantgarde', sans-serif;
}
/* Top navigation */
.active {
    color: #ff66c4;
}

.inactive {
    color: black;
}

#navbar {
    background-color: white;
    overflow: hidden;
    float: right;
    font-weight: bold;
}

#navbar li{
    display:inline-block;
    font-size: smaller;
  }

#navbar a {

    text-align: center;
    padding: 14px 16px;
}

#navbar input {
    float:inline-end;
    padding: 6px;
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;  
  }

h1{
    text-align: left;
    padding: 30px;
    font-size: large;
}

/* Footer navigation */

.footer {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    overflow: hidden;
    position: relative;


}

.footer img {
    padding: 15px;
    width: 42px;

}

/*Change margin-left. Goal is to position icons relative to the right of the webpage*/

#icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    align-content: space-around;
    margin-left: 600px
}


/* Home Page */

#home-banner img {
    width: 100%;
}



/* About Me Page */

h2 {
    text-align: center;
    padding: 30px;

}



#about-me {
    border-style: solid;
    border-width: 7px;
    overflow: auto;
    
}

#about-me img {
    padding: 30px;
    border-radius: 50px;
    width: 25%;

    float: left;
}

#about-me p {
    padding: 30px;
    position: relative;


}