body {
    background: white;
    font-family: 'Avantgarde', sans-serif;
}
/* below is not working as expected */
.active {
    color: #ff66c4;
}

.inactive {
    color: black;
}

#navbar {
    background-color: white;
    overflow: hidden;
    float: right;
    font-weight: bold;
}

#navbar li{
    display:inline-block;
    font-size: smaller;
  }

#navbar a {

    text-align: center;
    padding: 14px 16px;
}

#navbar input {
    float:inline-end;
    padding: 6px;
}

.container {
    display:flex;
    justify-content:space-between;
    align-items:center;  
  }

h1{
    text-align: left;
    padding: 30px;
    font-size: large;
}

h2 {
    text-align: center;
    padding: 30px;

}

#home-banner img {
    width: 100%;
}

#about-me {
    border-style: solid;
    border-width: 7px;
    overflow: auto;
    
}

#about-me img {
    padding: 30px;
    border-radius: 50px;
    width: 25%;

    float: left;
}

#about-me p {
    padding: 30px;
    position: relative;


}